<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>AskDjango 블로그</title>
</head>

<body>

<h1>AskDjango</h1>
<p>안녕하세요. 여러분의 파이썬/장고 페이스메이커가 되겠습니다.</p>

<form action="" method="get">
	<input type="text" name="query" value="{{ query }}" /> <!-- 중괄호 두 개 사이에 변수 값은 띄워써야 가독성이 좋다. -->
	<input type="submit" value="검색" />
</form>

<ul> <!-- ul은 Unordered List의 약자이다. 순서가 필요없는 목록을 생성함. -->
{% for post in post_list %}	<!-- {%는 django function을 사용하겠다는 의미이다. -->
	<li> <!-- li는 List Item의 약자이다. <ol>과 <ul>의 각 항목들을 나열할 때 <li> 태그를 사용함.-->
		{{ post.title }}
	</li>
{% endfor %}
</ul>

</body>
</html>
